* {
    margin:0;
}

html{
    width: 720;
    height: 1080;
    margin: auto 0;
}

h1{
    margin: 0 auto;
    padding-top: 40px;
}

h3{
    padding-top: 70px;
    padding-bottom: 25px;
}

.appSize{
    margin:0 auto;
    width: 480px;
    height: 800px;
}
.disabled {
    display: none;
   }

.enabled {
    display: "";
}

.margin {
    margin: 0 auto;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directionFlip{
    display: flex;
    flex-direction: column;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    }

.craving {
    text-align: center;
    height: 30px;
    width: 400px;
    font-size: 1.5rem;
}

#answer {
    width: 400px;
    height: 450px;
    margin: 20px auto;
    background-color: burlywood;
}
.answerInfo {
    background-color: rgb(184, 152, 111);
    height: 25%;
    width: 100%;
}
.answerImages{
    height: 75%;
    width: 100%;

}


.btnOptions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#rating {
    margin: 5% auto;
    width: 250px;
}

#jsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}



#firstPage {
    padding: auto 0;
    width: 480px;
    height: 800px;
    background-color: blueviolet;
    text-align: center;
}

#secondPage {
    padding: auto 0;
    width: 480px;
    height: 800px;
    background-color: blueviolet;
    text-align: center;
}

/* Carousel */

.imgSpecs{
    list-style: none;
}

.imgs {
    width: 400px;
    height: 337.5px;
}

.switchImg {
    width: 400px;
    height: 337.5px;
    background-color: brown;
    display: flex;
}

.prev, .next{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev{
    align-items: center;
}

.next{
    align-items: center;
    justify-content: end;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.5);
}